*{
    font-family: "Montserrat", sans-serif;
    /* background-color: black; */
    color: white;
    margin: 0;
    overflow:hidden
}

html, body {
    background-color: black;
    color: white; /* optional */
    margin: 0;
    padding: 0;
}


.main{
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}
.sidebar{
    background-color: rgb(0, 0, 0);
    width: 340px;
    border-radius: 1rem;
    margin-right: 0.75rem;
}

.main-content{
    
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    background-color:#121212;
    padding: 0 1.5rem;
}
.music-player{
    
    bottom: 0px;
    position: fixed;
    width: 100%;
    height: 72px;
    
}
a{
    text-decoration: none;
}
.nav{
    background-color: #121212;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1rem;
    padding: 0.5rem 0.75rem;
}
.nav-option{
    line-height:2.5rem;
    background-color: #121212;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}
.nav-option:hover{
    opacity: 1;
}

.nav-option i{
font-size: 1.25rem;
}

.nav-option a{
    font-size: 1.25rem;
    margin-left: 1rem;
}

.library{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin: 0.5rem 0rem;
    padding: 0.5rem 0.75rem;
    
}
.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lib-option img{
   height:1.25rem;
   margin-left: 0.5rem;
}

.lib-option{
    font-size: 1.25rem;
}
.icons{
    font-size: 1.25rem;
    background-color: #121212;
    display: flex;
}
.icons i:hover{
    opacity: 1;
    
}
.icons i{
    margin-right: 1rem;
    opacity: 0.7;
}
.box{
    color: white;
    padding: 1rem 1rem ;
    margin: 0.75rem 0rem 1.25rem 0rem;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    border-radius: 1rem;
    padding-top: 1.75rem;
    height: 8rem;
    background-color: #232323;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box-p1{
    font-size: 1rem;
    font-weight: 600;
}
.box-p2{
    font-size: 0.85rem;
    opacity: 0.9;
}
.badge{
    background-color: white;
    color: black;
    border: none;
    border-radius: 100px;
    font-weight: 700;
    padding: 0.25rem 1rem;
    height: 2rem;
    width: fit-content;
    
}
.stickynav{
    position: sticky;
    top: 0;
    background-color:#121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
}
.sticky-icons{
    margin-left: 1rem;
}
.so{
    margin-right: 1rem;
}
.dark-badge{
    background-color: black;
    color: white;

}
@media(max-width:1000px){
    .hide{
        display: none;
    }
}
.card{
    background-color: #232323;
    width:150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-top: 2rem;
    
}
.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.card-img{
    width: 100%;
    border-radius: 0.5rem;
}

.card-title{
    margin-top: 0.5rem;
    font-weight: 600;
}
.card-info{
    font-size:0.5rem ;
    opacity:0.8;
}
.card-container{
    margin-right: 1.5rem;
}
h2{
    margin-top: 2rem;
}
.footer{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line{
    width: 90%;
    height: 50%;
    border-top: 2px solid rgb(255, 255, 255);
    opacity: 0.4;

}
.badge:hover{
 box-shadow: 10px 10px;
 transition: 1s ease-in-out;

}
.album{
    width: 25%;
      display: flex;
      padding:0.5rem; 
}
.control{
    width: 50%;
}
.album img{
    height: 3.2rem;
    width: 3.2rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.album-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
    gap:5px;
}
.album-icon {
    display: flex;
    align-items: center;
    gap: 1rem; /* Adjust gap as needed */
    opacity: 0.4;
    font-size: 1.25rem;
    margin-left:1.5rem;
}

.player{
    width: 25%;
    display:flex ;
    justify-content: center;
    gap:0.75rem;
    
}
.player i{
    
    font-size: 1.25rem;
    opacity: 0.5;
}
.player i:hover{
    opacity:1;
}
.control-icons img{
    height:1rem;
}
.control-icons{
    display: flex;
    justify-content: center;
    align-items:center;
    gap:1.55rem;
}
.ci{
    opacity:0.7; 
}
.music-player{
    display: flex;
    align-items: center;
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
}
.ci:hover{
    opacity: 1;
}
.progress-bar{
    width: 60%;
    appearance: none;
    cursor:pointer;
    background-color: black;
}
.playback-bar{
    display: flex;
    justify-content: center;
    background-color: black;
}

.progress-bar::-webkit-slider-runnable-track{
    background: linear-gradient(to right, #1bd760 0%, white 0%);
    border-radius: 100px;
    height:0.2rem;
}

.progress-bar::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin: -6px;
}